<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="JoseNotasDB"
			 connectionString="Data Source=sql.holamundodevs.com;Initial Catalog=Jose_NotasDB;User ID=joserodriguez;Password=Holamundo123*;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
